 /* font-family: "Nunito", sans-serif; */
 /* font-family: "Inconsolata", monospace; */
 /* font-family: "Imperial Script", cursive; */
 /* font-family: "Delius", cursive */
 /* font-family: "Chewy", system-ui; */
 /* font-family: "Funnel Sans", sans-serif; */
 /* font-family: "Roboto Mono", monospace; */
 /* font-family: "Poiret One", sans-serif; */

/* Configuracion de toda la pagina */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y el alto a pesar del padding y border */
    font-family: "Delius", cursive; 
    list-style: none; /*esto quita los guiones de la lista*/
    text-decoration: none; /*esto quita el subrayado de los enlaces*/
    color: white;
}

body{
    background-color: black;  /*TO-DO: Quiere decir que proximamente va a cambiar*/
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100; /*Esto hace que el header se muestre por encima*/
    width: 100%;
    display: flex; /*Esto hara que los elemenatos se pongan en linea*/
    align-items: center; /*Centra verticalmente*/
    justify-content: space-between; /*Que los elementos se separen*/
    padding: 15px 3%;
    background-color: transparent;
}
 
.logo {
    font-family: "Poiret One", sans-serif;
    font-size: 30px;
    font-weight: bolder;

}

.navlist {
    display: flex;/*esto es para que los elementos de la lista se organicen horizontalmente*/
}

.navlist a {
margin-left: 60px; /*Esto es para separar las palabras*/
font-size: 15px;
font-weight: bold;
border-bottom: 2px solid transparent; /*esto es un subrayado transparente*/
transition: all .5s ease; /*esto es para animar todas las caracteristicas del .navlist a*/
}

.navlist a:hover {
    border-bottom: 2px solid white; /*esto es un subrayado blanco que aparecera cuando estamos encima*/
}

#menu-icon{
    display: none; /*Esto lo pongo en none para que solo se vea cuando la pantalla este pequeña*/
}

#menu-icon{
    font-size: 35px;
    z-index: 101; /*tiene que ser mas que el header para que quede sobre el*/
    cursor: pointer; /*Es para que aparezca la manito cuando ponemos el mouse encima*/
}



#menu-toggle{
    display: none; /*nunca quiero que se vea esto, esto es solo para que el icono funcione*/
}

.menu-icon-action{
    display: none; /*para que no se le pueda hacer click*/
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #7A1036, #ff7ebe6b, #f5c0d923); /* fondo de color gradiente */
    position: relative; /* Para que sea relativo al contenedor (nos permite usar top, bottom, left y right) */
    display: grid; /* Para que el hero se pueda dividir en dos columnas */
    grid-template-columns: 1fr 1fr; /* las 2 columnas */
    align-items: center; /* para alinear verticalmente el hero */
    gap: 2rem; /* haya espacio de 2 rem entre las dos columnas */
}

section{
    padding: 0 8%;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text h1{
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 400px;
    margin: 10% 0 0 12%;
    height: auto;
    transition: all 5s linear; /*est hace que la transicion sea linear*/
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.6;
}

.hero-text a {
    display: inline-block; /*esto permite darle un ancho y un alto para acomodarlos*/
    background-color: rgb(77, 50, 61);
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text .referencias{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px ;
}

.hero-text a i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: rgb(77, 50, 61);;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: rgba(173, 110, 135, 0.219);
    border-radius: 30px;
    transition: all .5s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

/*aca vamos a hacer mediaqueries para que la web sea responsive*/

@media (max-width:992px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media(max-width:768px){
    .hero-text a{
        padding: 12px 24px;
        font-size: 12px;
    }

    .hero-img img:hover {
    width: 90%;
    opacity: 0.6;
}
}

@media(max-width:660px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img{
        width: 65%;
        margin: 10% 0 0 10%;
    }

    .hero-img img:hover {
    width: 75%;
    opacity: 0.6;
}

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #3f091dd5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease;
    }
    
    .navlist a{
        margin: 4.5px 0;
        display: block;
    }
    
    #menu-toggle:checked + label.menu-icon-action + ul{

        right: 0;

    }

}